- name: Install needed packages
  become: yes
  apt:
    pkg: "{{ item }}"
    state: present
    force: yes
  with_items:
    - exfat-fuse
    - exfat-utils
    - openssh-server
    - rsync
    - htop
    - mc
    - nano

- name: Authorize public key
  authorized_key:
    user: "{{ user }}"
    key: "{{ lookup('file', 'files/' + item + '.pub') }}"
  with_items:
    - petr@PK-HP450G3
    - root@PK-HP450G3

- name: Disallow password authentication
  become: yes
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^PasswordAuthentication"
    line: "PasswordAuthentication no"
    state: present
  notify: Restart ssh

- name: Assign Emby Web Client to standard HTTP port
  become: yes
  iptables:
    table: nat
    chain: "{{ item }}"
    protocol: tcp
    match: tcp
    destination_port: 80
    jump: REDIRECT
    to_ports: 8096
    comment: Assign Emby Web App to standard HTTP port
  with_items:
    - PREROUTING
    - OUTPUT

- name: Backup /home
  become: yes
  cron:
    name: "Backup '/home/{{ item }}'"
    hour: 17
    minute: 0
    job: "find '/media/{{ user }}/backup/home/{{ item }}' -mtime +180 -type f -delete; rsync -a '/home/{{ item }}' '/media/{{ user }}/backup/home'"
  with_items:
    - shared
    - "{{ samba_users }}"

- name: Find rtcwake
  become: yes
  command: which rtcwake
  register: which_rtcwake

- name: Suspend & wake up
  become: yes
  cron:
    name: "Suspend & wake up (weekday: {{ item.d }})"
    weekday: "{{ item.d }}"
    hour: "{{ item.h }}"
    minute: "{{ item.m }}"
    job: "{{ which_rtcwake.stdout }} -m off -s {{ (item.t * 3600)|int }}"
  with_items:
    - {d: 1, h: 0, m: 15, t: 16.25}
    - {d: 2, h: 0, m: 15, t: 16.25}
    - {d: 3, h: 0, m: 15, t: 16.25}
    - {d: 4, h: 0, m: 15, t: 16.25}
    - {d: 5, h: 0, m: 15, t: 16.25}
    - {d: 6, h: 1, m: 15, t: 7}
    - {d: 0, h: 1, m: 15, t: 7}
