- name: Set required version and build
  set_fact:
    PhpStorm:
      version: 2019.1.2
      build: 191.7141.52

- name: Prepare directory
  file:
    path: "{{ home_dir }}/.apps/PhpStorm"
    state: directory

- name: Download and install
  unarchive:
    src: "https://download.jetbrains.com/webide/PhpStorm-{{ PhpStorm.version }}.tar.gz"
    dest: "{{ home_dir }}/.apps/PhpStorm"
    creates: "{{ home_dir }}/.apps/PhpStorm/PhpStorm-{{ PhpStorm.build }}"
    remote_src: yes

- name: Create desktop shortcut
  template:
    src: templates/PhpStorm.desktop
    dest: "{{ home_dir }}/Desktop/PhpStorm.desktop"
    mode: 0774

- name: Set inotify watches limit # https://confluence.jetbrains.com/display/IDEADEV/Inotify+Watches+Limit
  become: yes
  sysctl:
    name: fs.inotify.max_user_watches
    value: 524288
    state: present
