[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Violet UML Editor
Exec={{ home_dir }}/.apps/VioletUmlEditor/violetumleditor-{{ VioletUmlEditor.version }}/run.bat {{ home_dir }}/.apps/VioletUmlEditor/violetumleditor-{{ VioletUmlEditor.version }}
Icon={{ home_dir }}/.apps/VioletUmlEditor/violetumleditor-{{ VioletUmlEditor.version }}/icon.ico
Terminal=false
Type=Application
StartupWMClass=com-horstmann-violet-UMLEditorApplication
