[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PhpStorm
Exec={{ home_dir }}/.apps/PhpStorm/PhpStorm-181.4445.72/bin/phpstorm.sh
Icon={{ home_dir }}/.apps/PhpStorm/PhpStorm-181.4445.72/bin/phpstorm.png
Terminal=false
Type=Application
