- name: Install needed packages
  become: yes
  apt:
    pkg:
      - docker.io
    state: present
    force: yes

- name: "Create configuration directories"
  become: yes
  file:
    path: "{{ item }}"
    state: directory
    mode: 0777
    recurse: yes
  with_items:
    - "{{ configuration_directory }}/config"

- name: Start Emby server
  become: yes
  docker_container:
    name: emby
    image: "emby/embyserver_{{ architecture }}:{{ version }}"
    pull: yes
    state: started
    restart: yes
    restart_policy: always
    volumes:
      - "{{ configuration_directory }}/config/:/config/"
      - "{{ shared_directory }}/:/mnt/shared/:ro"
    network_mode: host
