- name: Install needed packages
  become: yes
  apt:
    pkg:
      - docker.io
    state: present
    force: yes

- name: Create configuration directories
  become: yes
  file:
    path: "{{ item }}"
    state: directory
    mode: 0777
    recurse: yes
  with_items:
    - "{{ configuration_directory }}/etc/letsencrypt"
    - "{{ configuration_directory }}/tmp/repository"

- name: Clone repository server
  become: yes
  git:
    repo: "https://github.com/petrknap/docker-letsencrypt-nginx-reverse-proxy.git"
    dest: "{{ configuration_directory }}/tmp/repository"
    version: master
    force: yes

- name: Build docker image
  become: yes
  docker_image:
    path: "{{ configuration_directory }}/tmp/repository"
    name: petrknap/letsencrypt-nginx-reverse-proxy
    tag: latest
    force: yes

- name: Start NGINX server
  become: yes
  docker_container:
    name: letsencrypt-nginx-reverse-proxy
    image: petrknap/letsencrypt-nginx-reverse-proxy
    state: started
    restart: yes
    restart_policy: always
    volumes:
      - "{{ configuration_directory }}/etc/letsencrypt:/etc/letsencrypt"
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
    env:
      RULES: "{{ rules }}"
      DEFAULT_SERVER: "{{ default_server }}"
      PROXY_ADDITIONAL_OPTIONS: |
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
