[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Postman
Exec={{ home_dir }}/.apps/Postman/Postman/Postman
Icon={{ home_dir }}/.apps/Postman/Postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
StartupWMClass=Postman
