- name: "Install server"
  become: yes
  apt:
    pkg: "{{ item }}"
    state: present
    force: yes
  with_items:
    - libcups2
    - samba-common
    - samba

- name: "Copy /etc/samba/smb.conf"
  become: yes
  copy:
    src: files/smb.conf
    dest: "/etc/samba/smb.conf"
  notify: Restart server

- name: "Create user group"
  become: yes
  group:
    name: smb_users

- name: "Create user"
  become: yes
  user:
    name: "{{ item }}"
    group: "smb_users"
    shell: /sbin/nologin
    createhome: yes
  with_items: "{{ samba_users }}"

- name: "Create virtual drive image for user"
  become: yes
  shell: "dd if=/dev/zero of=/home/{{ item }}.img bs=1M count={{ samba_user_home_quota }} && yes | mkfs -t ext4 /home/{{ item }}.img"
  args:
    creates: "/home/{{ item }}.img"
  with_items: "{{ samba_users }}"

- name: "Set permissions on users virtual drive image"
  become: yes
  file:
    path: "/home/{{ item }}.img"
    state: file
    owner: root
    group: nogroup
    mode: 0600
  with_items: "{{ samba_users }}"

- name: "Mount users virtual drive image as home directory"
  become: yes
  mount:
    path: "/home/{{ item }}"
    src: "/home/{{ item }}.img"
    fstype: ext4
    opts: relatime
    state: mounted
  with_items: "{{ samba_users }}"

- name: "Set permissions on users home directory"
  become: yes
  file:
    path: "/home/{{ item }}"
    state: directory
    owner: "{{ item }}"
    group: nogroup
    mode: 0700
  with_items: "{{ samba_users }}"

- name: "Create shared directory"
  become: yes
  file:
    path: /home/shared
    state: directory
    owner: nobody
    group: smb_users
    mode: 0770

- name: "Create public directory"
  become: yes
  file:
    path: /home/shared/public
    state: directory
    owner: nobody
    group: nogroup
    mode: 0777

- name: "Prevent public directory deletion"
  become: yes
  file:
    path: /home/shared/public/.keep
    state: touch
    owner: nobody
    group: nogroup
    mode: 0000

- name: "Enable user on server"
  become: yes
  shell: "(echo {{ lookup('password', home_dir + '/user_' + item + '.password length=8') }}; echo {{ lookup('password', home_dir + '/user_' + item + '.password length=8') }}) | smbpasswd -s -a {{ item }}"
  with_items: "{{ samba_users }}"
