- name: Install needed packages
  become: yes
  apt:
    pkg:
      - docker.io
    state: present
    force: yes

- name: "Create configuration directories"
  become: yes
  file:
    path: "{{ item }}"
    state: directory
    mode: 0777
    recurse: yes
  with_items:
    - "{{ configuration_directory }}/etc/pihole"
    - "{{ configuration_directory }}/etc/dnsmasq.d"

- name: Add modification script
  become: yes
  copy:
    src: files/remove-ips-from-list.php
    dest: "{{ configuration_directory }}/remove-ips-from-list.php"
    mode: 0444

- name: Configure FTL
  lineinfile:
    path: "{{ configuration_directory }}/etc/pihole/pihole-FTL.conf"
    line: "BLOCKINGMODE=IP-NODATA-AAAA"
    regexp: '^BLOCKINGMODE='

- name: Start DNS server
  become: yes
  docker_container:
    name: Pi-hole
    image: pihole/pihole
    pull: yes
    state: started
    restart: yes
    restart_policy: always
    volumes:
      - "{{ configuration_directory }}/remove-ips-from-list.php:/var/www/html/remove-ips-from-list.php"
      - "{{ configuration_directory }}/etc/pihole/:/etc/pihole/"
      - "{{ configuration_directory }}/etc/dnsmasq.d/:/etc/dnsmasq.d/"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8053:80/tcp"
    env:
      WEBPASSWORD: "{{ lookup('password', configuration_directory + '/admin.password length=8') }}"
      ServerIP: "{{ local_ip }}"

- name: Wait for DNS server
  wait_for:
    host: "{{ local_ip }}"
    port: 53
    delay: 60
